@import "../../styles/base.scss";

.main__content {
  &-sideVideo {

    &-title {
      text-transform: uppercase;
      color: #afafaf;
      @include subheader-mobile-style;
      margin-bottom: 40px;

      @include larger-tablet-size {
        margin: 40px 0;
      }
      @include desktop-size {
        margin: 40px 0;
      }
    }

    &-item {
      margin: 0;
      margin-bottom: 24px;
      padding: 0;
      @include flex-display-row;

      &__video {
        min-width: 7.5rem;
        max-height: 4.375rem;
        border-radius: $border-radius;
      }

      &__heading {
        @include flex-display-column;
        margin-left: 16px;

        &-title {
          @include listTitle-mobile-style;
          margin-bottom: 16px;

          @include tablet-size {
            @include listTitle-tablet-style;
          }
        }

        &-subtitle {
          @include listTitle-mobile-style;
            font-family: $regular-font;

          @include tablet-size {
            @include listTitle-tablet-style;
            font-family: $regular-font;
          }
        }
      }
    }
    
  }
}
