@import "../../styles/base.scss";

.main__content {
  @include flex-display-column;
  @include pargraph-mobile-style;
  margin: $mobile-margin;

  @include tablet-size {
    margin: $tablet-margin;
  }
  @include desktop-size {
    @include flex-display-row;
    margin: $desktop-margin;
  }
  @include  larger-tablet-size {
    align-self: center;
    width: 70%;
  }

  &-article {
    @include desktop-size {
      @include flex-display-column;
      width: 75%;
      margin-right: 2%;
    }
  }
}
