@import "../../styles/base.scss";

.header {
  @include flex-display-column;
  border-bottom: $border-style;
  padding: $mobile-margin;  // padding to get the border bottom all the page

  @include tablet-size {
    @include flex-display-row;
    padding: 16px 24px;
  }

  @include desktop-size {
    padding: 16px 180px;
  }

  &__link {
    @include flex-display-row;
    justify-content: center;

    &-logo {
      padding: 0.92rem;

      @include tablet-size {
        padding: 0;
        margin-right: 169px;
      }
      @include desktop-size {
        margin-right: 509px;
      }
    }
  }

  &__form {
    width: 100%;

    @include tablet-size {
      @include flex-display-row;
      justify-content: flex-end;
    }

    &-input {
      width: 100%;
      padding: 0.85rem;
      border: $border-style; //read the variables.scss
      border-radius: 0.25rem;
      background-image: url("../../assets/Icons/SVG/Icon-search.svg");
      text-indent: 10%;
      background-position: 5% 50%;
      background-repeat: no-repeat;
      &::placeholder {
        color: $black-text-color;
      }
      &:hover {
        border-color: $button-color;
      }
    }

    &-div {
      @include flex-display-row;
      justify-content: space-between;
      margin-top: 8px;
      margin-bottom: 16px;

      @include tablet-size {
        margin: 0;
      }
    }

    &-linkButton {
      width: 100%;
      text-decoration: none;
      margin-right: 16px;

      @include tablet-size {
        margin: 0 24px;
      }
  
      &__button {
        @include button-style;
        background-image: url("../../assets/Icons/SVG/Icon-upload.svg");
        text-indent: 10%;
        background-position: 33% 50%;
        background-repeat: no-repeat;
        &:hover {
          background-color: $hover-button-color;
        }

        @include tablet-size {
          padding: 12px 23px;
          text-indent: 15%;
          background-position: 15% 50%;
        }
      }
    }

    &-picture {
      width: 48px;
      height: 48px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
