$mobile-margin: 0 16px;
$tablet-margin: 0 24px;
$desktop-margin: 0 180px;
$regular-font: Avenir Next-regular;
$bold-font: Avenir Next-bold;
$demibold-font: Avenir Next-bolder;
$border-style: 1px solid #E1E1E1;
$black-text-color: #323232;
$grey-text-color: #fafafa;
$white-text-color: #FFFFFF;
$hover-button-color: #0065AD;
$button-color: #0095FF;
$divider-color: #E1E1E1;
$border-radius: 5px;
$test: 4;
